body{
    font: 1rem "Gotham Rounded A", "Gotham Rounded B", "Gotham Rounded", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #f5f5f5;
    -webkit-font-smoothing: antialiased;
    color: #212529;
    word-wrap: break-word;
    letter-spacing: 0.3px;
    margin: 0;
    overflow: hidden;
}
html, body, .max-ht{
    height: 100%;
}
#root{
    height: 100%;
    overflow: auto;
}
.d-flex-ct{
    display: flex;
    align-items: center;
    justify-content: center;
}
.error-col{
    color: red;
}
.mg-b-10{
    margin-bottom: 10px !important;
}
.mg-t-10{
    margin-top: 10px !important;
}
.full-wd {
    width: 100%;
}
