.login-page {
    width: 60%;
    margin: 0 auto;
    background-color: white;
    border: 1px solid #ccc;
    padding: 2.5rem 1.5rem;
    margin-top: 5rem;
    max-width: 400px;
    border-radius: 3px;
}
.credential-hint{
    line-height: 1.4;
    margin: 15px 0px;
    padding: 16px;
    background: #ffeef860;
    border: 1px solid #f9b3dd !important;
    font-size: 14px;
}